/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #272727;
}

html::-webkit-scrollbar{
	width: 12px;
	background-color: #272727;
}

html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #0059ff;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

body {
  font-family: 'Exo', sans-serif;
  font-size: 1em;
  color: hsl(219, 8%, 75%);
}

h1, h2, h3 {
  color: hsl(219, 8%, 95%);
  font-weight: 600;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav{
  background-color: hsl(219, 4%, 4%);
  position: fixed;
  padding: 0 5%;
  width: 100%;
  top: 0;
  z-index: 999;
}

nav h3{
  font-size: 30px;
}

nav h3 a{
  color: hsl(219, 8%, 95%);
  text-decoration: none;
}

nav ul{
  list-style: none;
  margin: 18px 0;
}

nav ul li{
  display: inline-block;
  padding: 0 0 0 40px;
}

nav ul li a{
  font-size: 20px;
  font-weight: 700;
  color: hsl(219, 8%, 95%);
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li a:hover{
  color: #0059ff;
}

nav ul li a.active{
  color: #0059ff;
}

section{
  padding: 5% 5% 0 5%;
}

section.home{
  background-color: hsl(219, 4%, 4%);
  padding: 10% 5% 1.5% 5%;
  height: 950px;
}

section.home .row{
  margin: 0% 5%;
}

.home .txt1{
  font-size: 35px;
}

.home .txt1 span{
  font-weight: 700;
}

.home h1{
  font-size: 60px;
}

.home .txt2{
  font-size: 30px;
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 15em;
}

.home .txt2 > span {
  color: #0059ff;
  position: absolute;
  top: 0;
  margin: 0 0.5rem;
  animation: slide 8s infinite;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: -1.2em;
  }
  14.28% {
    top: -1.2em;
  }
  28.56% {
    top: -2.4em;
  }
  42.84% {
    top: -3.6em;
  }
  57.12% {
    top: -4.8em;
  }
  71.4% {
    top: -6em;
  }
  85.68% {
    top: -7.2em;
  }
  100%{
    top: -1.2em
  }
}

.home .social{
  margin: 30px 10px;
}

.home .social ul{
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
}

.home .social ul li {
  list-style: none;
}

.home .social ul li a{
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 15px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.home .social ul li a:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
}

.home .social ul li a .fa{
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 25px;
  color: #262626;
  transition: 0.5s;
}

.home .social ul li:nth-child(1) a:hover .fa{
  color: #3b5998;
}

.home .social ul li:nth-child(2) a:hover .fa{
  color: #00aced;
}

.home .social ul li:nth-child(3) a:hover .fa{
  color: #f6424c;
}

.home .social ul li:nth-child(4) a:hover .fa{
  color: #007bb6;
}

.home .social ul li:nth-child(5) a:hover .fa{
  color: #e4405f;
}

.home .image img{
  width: 350px;
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 15px 15px #0059ff;
  transition: all .4s ease;
}

.home .image img:hover{
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgb(0, 89, 255);
}

.home .scroll-downs{
  position: absolute;
  margin: 45% auto auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width :34px;
  height: 55px;
}

.home .mousey{
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #0059ff;
  border-radius: 25px;
  opacity: 1;
  box-sizing: content-box;
}

.home .scroller{
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #0059ff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll{
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.section-title{
  text-align: center;
  color: #45505b;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title::before{
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0059ff;
  bottom: 0;
  left: calc(50% - 20px);
}

/* ABOUT SECTION */
.about .section-content{
  margin: 3% 12% 4% 12%;
}

.about .left{
  margin: 0 5% 0 0;
}

.about .left .image-card{
  position: relative;
  width: 430px;
  height: 520px;
}

.about .image-card .my-image{
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translate(10px, 10px);
}

.about .image-card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 490px;
  border: 25px solid #fff;
  z-index: 1;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 7px 7px 21px #bdbdbd, -7px -7px 21px #ffffff;
  background: transparent;
}

.about .image-card::before{
  filter: url(#wavy);
}

.about .right{
  margin: -13% 0 0 0;
}

.about .right h1{
  font-size: 60px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.about .right h2{
  font-size: 25px;
  color: #0059ff;
  margin: -2% 0 0 0;
}

.about .right p.desc{
  margin: 2% 0;
  font-size: 22px;
  line-height: 2.2rem;
  font-family: "Nunito";
  color: #4b4b4b;
}

.about .right .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 700;
}

.about .right .box-container .box p{
  margin: 6% 0;
  font-size: 22px;
  color: #4b4b4b;
}

.about .right .box-container .box p span{
  color: #0059ff;
  text-transform: capitalize
}

.about .right .box-container .box p span i{
  transition: 0.5s;
}

.about .right .box-container .box p:hover span i{
  transform: translateY(3px);
}

.about .right .resumebtn{
  margin: 2rem 0 0 0;
}

.about .right .resumebtn .btn{
  padding: 1rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #0059ff;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: 'Exo', sans-serif;
  text-decoration: none;
}

.about .right .resumebtn .btn span{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.1rem;
}

.about .right .resumebtn .btn i{
  margin-left: 0.3rem;
  font-size: 22px;
  transition: 0.3s;
}

.about .right .resumebtn .btn:hover{
  background: #0043c1;
}

.about .right .resumebtn .btn:hover i{
  transform: translateX(5px);
}

/* SERVICES SECTION */
.services{
  background-color: #111;
  padding: 4% 0;
}

.services .section-title{
  color: #fff;
}

.services .section-content{
  margin: 4% 15%;
}

.services .section-content .row{
  margin: 4% 0 0 0;
}

.services .section-content .card{
  width: calc(33% - 20px);
  height: 300px;
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.services .section-content .card:hover{
  background-color: #0059ff;
}

.services .section-content .card .box{
  transition: all 0.5s ease;
}

.services .section-content .card:hover .box {
  transform: scale(1.05);
}

.services .section-content .card .box i{
  font-size: 50px;
  margin: 0 0 2% 0;
  color: #0059ff;
  transition: color 0.5s ease;
}

.services .section-content .card:hover .box i,
.services .section-content .card:hover .box h3,
.services .section-content .card:hover .box p{
  color: #fff;
}

.services .section-content .card .box h3{
  font-size: 25px;
  transition: color 0.5s ease;
}

.services .section-content .card .box p{
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  transition: color 0.5s ease;
}